<% comments.each do |comment| %>
  <div class="comment">
    <div class="comment-list">
      <%= comment.user.name %>
    </div>
    <div class="comment-text">
      <%= comment.text %>
    </div>
  </div>