<div class="user">
<%= render 'partials/user', user: @user %>
<div class='bio'>
<p><%= @user.bio %></p>
</div>
<ul class='card'>
    <% @user.recent_three_posts.each do |post| %>
        <%= render 'partials/post', post: post %>
    <% end %>
</ul>

  <%= link_to "See all posts", user_posts_path(@user.id)%>
</div>

