<section >
  <%= render'partials/user', user: @user %>
    <% @posts.each_with_index do |post, index| %>
    <p>Post #<%= index+1 %></p>
    <ul class="post-list">
    <%= render 'partials/post', post: post %></ul>
    </ul>
    <% end %>
  <button>Pagination</button>

</section>