<section >
  <%= render'partials/user', user: @user %>
    <% @posts.each do |post| %>
    <ul class="post-list">
    <%= render 'partials/post', post: post %></ul>
    </ul>
    <% end %>
  <button>Pagination</button>

</section>