<section >
  <%= render'partials/user', user: @user %>
<%= link_to 'back', users_path %>
   <% @posts.each do |post| %>
    <ul class="post-list">
    <%= render 'partials/post', post: post %></ul>
    </ul>
    <% end %>
  <ul class='red'>
 <%== pagy_nav(@pagy) %>
    </ul>
</section>
